table{
    width: 90%;
    margin: auto;
    font-family: sans-serif;
    
    
}
td,th{
    border: 2px solid black !important;
    padding: 10px;
    
}
tr:hover{
    background-color: rgb(212, 178, 127)!important;
}
.cnte{
    text-align: center;
    display: flex;
    justify-content: center;
}
body{
    background-color: blanchedalmond!important;
    
}